.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* justify-content: center; */
  align-items: center;
  padding: 2rem;
  height: 100vh;
  position: relative;
  /* background: rgb(2,0,36); */
  background-color: #EEF0E5;
  /* background-color: rgb(255, 255, 255); */
  /* opacity: 0.8; */
  /* background-image: url(../public/bck.gif); */
  /* background-size:cover; */
  /* background-repeat: no-repeat; */
  /* background-image: radial-gradient(circle at center center, #3a3232, #d51717),  */
                    /* repeating-radial-gradient(circle at center center, #000000, #000000, 10px, transparent 20px, transparent 10px); */
  background-blend-mode: multiply;
  /* background-blend-mode:luminosity; */
  /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(142,4,4,1) 35%, rgba(0,212,255,1) 100%); */
  /* background-color: black; */
  /* animation:10s infinite anim; */
}


.description {
  display: inherit;
  justify-content: center;
  align-items: inherit;
  /* display: flex; */
  /* flex-direction: column; */
  position: relative;
  /* justify-content: space-between; */
  font-size: 2.5rem;
  font-weight: 900;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.name{
  position: fixed;
  top: 5px;
  font-size: 1.5rem;
  padding: 2px;
  color: #163020;
  text-align: center;
  z-index: -2;
  width: 80%;
  text-transform: capitalize;
  /* border: 1px dashed red; */
  /* background-color: transparent; */
}

.hdp1{
  /* background-image: url(../public/dp.png); */
  /* filter: blur(5%); */
  position: fixed;
  right: 10px;
  top: 10px;
  height: 150px;
  border-radius: 90%;
  width: 150px;
  background-size: cover;
}

.hdp2{
  /* background-image: url(../public/dp.png); */
  position: fixed;
  left: 10px;
  top: 10px;
  height: 150px;
  border-radius: 90%;
  width: 150px;
  background-size: cover;
}

.meter_design{
  width: 25rem;
  height: 2rem;
}
     /* Set the fill color */
     .meter_design::-webkit-meter-bar {
      background: rgb(255, 238, 238); /* Background color for the meter */
  }

  .meter_design::-webkit-meter-optimum-value,
  .meter_design::-webkit-meter-suboptimum-value,
  .meter_design::-webkit-meter-even-less-good-value {
      background: #163020; /* Change the fill color for different value ranges */
  }

.congo{
  /* background-color: cadetblue; */
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 500;
  color: #163020;
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

/* .description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
} */

.heading{
  /* background-image: linear-gradient(to right, #ff0909, #e9cacd, #1dd12c); */
  /* background: repeating-radial-gradient(circle,#83220ae3, transparent 20%); */
  /* background-size: 3em 3em; */
  /* background-color: #a01212; */
  /* opacity: 0.8;
  background-image: radial-gradient(circle at center center, #311717, #bcc2db), 
                    repeating-radial-gradient(circle at center center, #d61111, #001cf3, 10px, transparent 20px, transparent 10px);
  background-blend-mode: multiply; */
  font-size: 3rem;
  color: #163020;
  text-shadow: 3px 5px 3px grey;
  /* display: none; */
  /* background-clip: text; */
  /* color: transparent; */
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: var(--max-width);
  width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}


.circle0{
  width:30px;
  height:30px;
  background:black;
  border-radius:50%;
  position:absolute;
  top:20; bottom:40; left:20;right:30;
  animation: circle0 8s linear infinite;
}
.circle{
  width:30px;
  height:30px;
  background:black;
  border-radius:50%;
  position:absolute;
  top:20; bottom:40; left:20;right:30;
  /* overflow:hidden; */
  /* margin:auto; */
  animation: circle 6s linear infinite;
}
.circle1{
  width:30px;
  height:30px;
  background:black;
  border-radius:50%;
  position:absolute;
  top:20; bottom:40; left:20;right:30;
  animation: circle1 5s linear infinite;
}
.circle2{
  width:30px;
  height:30px;
  background:black;
  border-radius:50%;
  position:absolute;
  top:20; bottom:40; left:20;right:30;
  animation: circle2 3s linear infinite;
}
.circle5{
  width:30px;
  height:30px;
  background:#5d3976;
  border-radius:50%;
  position:absolute;
  top: calc(100vh - 12%);
  left: calc(100vw - 20%);
  /* top:20; bottom:150; left:20;right:30; */
  animation: circle5 5s linear infinite;
}
@keyframes circle5{
  0%{
    transform: translateY(40px);
    scale: 1.6;
  }
  50%{
    transform: translateY(-1350px);
    scale: 0.5;
    background: #82589F;
  }
  100%{
    transform: translateY(0);
    scale: 1.6;
  }
}
.circle6{
  width:30px;
  height:30px;
  background:#33d0a9;
  border-radius:50%;
  position:absolute;
  top: calc(100vh - 12%);
  left: calc(100vw - 10%);
  /* top:20; bottom:150; left:20;right:30; */
  animation: circle6 9s linear infinite;
}
@keyframes circle6{
  0%{
    transform: translateY(40px);
    scale: 1.6;
  }
  50%{
    transform: translateY(-1250px);
    scale: 0.5;
    background: #438d7b;
  }
  100%{
    transform: translateY(0);
    scale: 1.6;
  }
}
.circle7{
  width:30px;
  height:30px;
  background:#d09008;
  border-radius:50%;
  position:absolute;
  top: calc(100vh - 12%);
  left: calc(100vw - 50%);
  /* top:20; bottom:150; left:20;right:30; */
  animation: circle7 7s linear infinite;
}
@keyframes circle7{
  0%{
    transform: translateY(40px);
    scale: 1.6;
  }
  50%{
    transform: translateY(-1350px);
    scale: 0.5;
    background: #bea162;
  }
  100%{
    transform: translateY(0);
    scale: 1.6;
  }
}
.circle8{
  width:30px;
  height:30px;
  background:#027528;
  border-radius:50%;
  position:absolute;
  top: calc(100vh - 12%);
  left: calc(100vw - 80%);
  /* top:20; bottom:150; left:20;right:30; */
  animation: circle8 6s linear infinite;
}
@keyframes circle8{
  0%{
    transform: translateY(40px);
    scale: 1.6;
  }
  50%{
    transform: translateY(-950px);
    scale: 0.5;
    background: #289f50;
  }
  100%{
    transform: translateY(0);
    scale: 1.6;
  }
}
.circle9{
  width:30px;
  height:30px;
  background:#FEA47F;
  border-radius:50%;
  position:absolute;
  top: calc(100vh - 12%);
  left: calc(100vw - 90%);
  /* top:20; bottom:150; left:20;right:30; */
  animation: circle9 8s linear infinite;
}
@keyframes circle9{
  0%{
    transform: translateY(40px);
    scale: 1.6;
  }
  50%{
    transform: translateY(-1150px);
    scale: 0.5;
  }
  100%{
    transform: translateY(0);
    scale: 1.6;
  }
}





@keyframes circle0{
  0%{
    transform:rotate(0deg)
              translate(-208px)
              rotate(0deg);
    opacity: 40%;
  
  }
  100%{
    transform:rotate(360deg)
              translate(-208px)
              rotate(-360deg);
              opacity: 0;
  }
}
@keyframes circle{
  0%{
    transform:rotate(0deg)
              translate(-165px)
              rotate(0deg);
              opacity: 40%;
  
  }
  100%{
    transform:rotate(360deg)
              translate(-165px)
              rotate(-360deg);
              opacity: 0;
  }
}
@keyframes circle1{
  0%{
    transform:rotate(0deg)
              translate(-115px)
              rotate(0deg);
              opacity: 40%;
  
  }
  100%{
    transform:rotate(360deg)
              translate(-115px)
              rotate(-360deg);
              opacity: 0;
  }
}
@keyframes circle2{
  0%{
    transform:rotate(0deg)
              translate(-70px)
              rotate(0deg);
              opacity: 40%;
  
  }
  100%{
    transform:rotate(360deg)
              translate(-70px)
              rotate(-360deg);
              opacity: 0;
  }
}



.outer_line{
  /* position: relative; */
  border: 30px;
  /* background: repeating-radial-gradient(circle,#e43105e3, transparent 20%); */
  /* background-size: 3em 3em; */
  /* background-color: #d00000; */
  /* opacity: 0.8; */
  /* background-image: url(../public/vercel.svg); */
  /* background-image: radial-gradient(circle at center center, #f7d9d9, #e5221b),  */
                    /* repeating-radial-gradient(circle at center center, #0f0d0d, #000000, 10px, transparent 20px, transparent 10px); */
  /* background-blend-mode: multiply; */
  background-image: repeating-radial-gradient(#304D30 , #B6C4B6 10% , #163020 15% );
  /* background-image: repeating-radial-gradient(#000 20%, #212121 15%, #3D3D3D 25%); */
  height: 450px;
  width: 450px;
  border-radius: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* -webkit-animation: heartbeat 2.5s ease-in-out infinite both; */
	        /* animation: heartbeat 2.5s ease-in-out infinite both; */
          /* animation: circle 6s linear infinite; */
}

 /* @-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
.outer_line:hover{
  animation: none;
} */
.center {
  display: flex;
  /* align-items: center; */
  border: 4px dotted grey;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: white;
  /* padding: 1.4rem 8.5rem 1.4rem 8.5rem; */
  font-size: 200%;
  color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
  position: relative;
  /* animation:10s infinite anim; */
   /* -webkit-animation: ping 2.0s ease-in-out infinite both;
	        animation: ping 2.0s ease-in-out infinite both; */
}
/* @keyframes anim {
  0%{transform: rotate(0);}
  100%{transform: rotate(360deg);}
} */
 /* @-webkit-keyframes ping {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0.8;
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(2.8);
            transform: scale(2.8);
    opacity: 0;
  }
}
@keyframes ping {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0.8;
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(2.8);
            transform: scale(2.8);
    opacity: 0;
  }
} */

.center:hover{
  animation: none;
  scale: 1.05;
  box-shadow: 0px 0px 150px rgb(209, 202, 202),0px 0px 150px rgb(218, 214, 214);
}


.mob{
  background-color: #001cf3;
  padding: 20px;
}
.mobile{
  margin: 50px;
}


.button_cont{
  margin-top: 18px;
  margin-bottom: 18px;
}
.buttonNeg{
  margin-right: 30px;
  padding: 10px 30px 10px 30px;
  font-size: larger;
  /* background-color: red; */
  /* background-size: 3em 3em; */
  background-color: #163020;
  /* opacity: 0.8; */
  /* background-image: radial-gradient(circle at center center, #f7d9d9, #e5221b),  */
                    /* repeating-radial-gradient(circle at center center, #0f0d0d, #000000, 10px, transparent 20px, transparent 10px); */
  /* background-blend-mode: multiply; */
  border: none;
  color: white;
  border-radius: 8%;
  /* animation:1.5s infinite anim; */
}

.buttonNeg:hover {
  /* box-shadow: 5px 10px 8px #888888; */
  /* scale: 1.2; */
  cursor:grabbing;
}

.button1{
  margin-right: 30px;
  padding: 10px 30px 10px 30px;
  position: relative;
  font-size: larger;
  /* background-color: rgb(138, 126, 16); */
  /* background-size: 3em 3em; */
  background-color: #163020;
  /* opacity: 0.8; */
  /* background-image: radial-gradient(circle at center center, #f7d9d9, #e5221b),  */
                    /* repeating-radial-gradient(circle at center center, #0f0d0d, #000000, 10px, transparent 20px, transparent 10px); */
  background-blend-mode: multiply;
  border: none;
  color: white;
  border-radius: 8%;
}
.button1:hover {
  /* box-shadow: 5px 10px 8px #888888; */
  /* scale: 1.2; */
  cursor:grabbing;
}

.button_change{
  margin-right: 30px;
  padding: 10px 30px 10px 30px;
  font-size: larger;
  /* background-color: rgb(59, 16, 138); */
  /* background-size: 3em 3em; */
  background-color: #163020;
  /* opacity: 0.8; */
  /* background-image: radial-gradient(circle at center center, #f7d9d9, #e5221b),  */
                    /* repeating-radial-gradient(circle at center center, #0f0d0d, #000000, 10px, transparent 20px, transparent 10px); */
  /* background-blend-mode: multiply; */
  border: none;
  color: white;
  border-radius: 8%;
}
.button_change:hover {
  /* box-shadow: 5px 10px 8px #888888; */
  /* scale: 1.2; */
  cursor:grabbing;
}

.button3{
  margin-right: 30px;
  padding: 10px 30px 10px 30px;
  font-size: larger;
  /* background-color: rgb(3, 148, 51); */
  /* background-size: 3em 3em; */
  background-color: #163020;
  /* opacity: 0.8; */
  /* background-image: radial-gradient(circle at center center, #f7d9d9, #e5221b),  */
                    /* repeating-radial-gradient(circle at center center, #0f0d0d, #000000, 10px, transparent 20px, transparent 10px); */
  /* background-blend-mode: multiply; */
  border: none;
  color: white;
  border-radius: 8%;
}
.button3:hover {
  /* box-shadow: 5px 10px 8px #888888; */
  /* scale: 1.2; */
  cursor:grabbing;
}

.button5{
  margin-right: 30px;
  padding: 10px 30px 10px 30px;
  font-size: larger;
  /* background-color: cyan; */
  /* background-size: 3em 3em; */
  background-color: #163020;
  /* opacity: 0.8; */
  /* background-image: radial-gradient(circle at center center, #f7d9d9, #e5221b),  */
                    /* repeating-radial-gradient(circle at center center, #0f0d0d, #000000, 10px, transparent 20px, transparent 10px); */
  /* background-blend-mode: multiply; */
  border: none;
  color: white;
  border-radius: 8%;
}
.button5:hover {
  /* box-shadow: 5px 10px 8px #888888; */
  /* scale: 1.2; */
  cursor:grabbing;
}

.button0{
  /* margin-right: 20px; */
  padding: 10px 30px 10px 30px;
  font-size: larger;
  background-size: 3em 3em;
  margin-bottom: 5px;
  border: 1px solid black;
  background-color: #304D30;
  opacity: 0.5;
  /* background-image: radial-gradient(circle at center center, #f7d9d9, #e5221b),  */
                    /* repeating-radial-gradient(circle at center center, #0f0d0d, #000000, 10px, transparent 20px, transparent 10px); */
  /* background-blend-mode: multiply; */
  color: white;
  /* border: none; */
  border-radius: 8%;
}
.button0:hover {
  /* box-shadow: 5px 10px 8px #f00404; */
  /* scale: 1.2; */
  cursor:grabbing;    
}

.wwwch{
  animation: numberAnimation 2s;
}
@keyframes numberAnimation {
  0% {
      opacity: 1;
      transform: translateY(0);
  }
  70% {
      transform: translateY(-280px);
  }
  100% {
      opacity: 0;
      transform: translateY(-30px);
  }
}

/* .center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
} */

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo {
  position: relative;
}

.para{
  background-image: linear-gradient(to right, #128540, #755ed8, #f7797D);
  font-size: xx-large;
  background-clip: text;
  color: transparent;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

.footer_menu{
  color: #163020;
  font-weight: 600;
  padding: 5px;
  /* border: 5px dotted cyan; */
  position: fixed;
  /* top: 10px; */
  bottom: 0px;
  
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}



@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
